.App{
  margin-top: 300px;
}

.maincontainer{
  max-width: 811px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: #F8F8F8;
}

.formClass{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.inputClass{
  display: flex;
  flex-direction: column;
}

.specialButton{
  width: 260px;
  height: 66px;
  background-color: #5863F8;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label{
  font-size: 13px;
  color: #5863F8;
  font-family: 'Poppins', sans-serif;
}

.input{
  width: 260px;
  height: 60px;
  margin-right: 20px;
  outline: none;
  border: 1px solid #EBEBEB;
  font-size: 15px;
}

.input::placeholder{
  color: #EBEBEB;
  padding-left: 10px;
  font-size: 13px;
}